
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main {
    display: flex;
    flex-direction: row-reverse;
    box-shadow: 10px 10px 20px #E5E5E5;
}


/*------------------------------------------------------*/
.mainContent {
    padding: 0 0 0 90px;
    color: rgba(89, 89, 89, 1);
    
}
.mainContent ul {
    padding-left: 15px;
}
.mainContent p {
color: rgba(168, 168, 168, 1);
}
.aboutUser {
    padding: 60px 0 0 0;
    width: 400px;
    margin-bottom: 40px;
}
.aboutUser p {
    color: rgba(89, 89, 89, 1);
}
.projects {
    margin-bottom:50px;
}
.projects a {
    color: rgba(89, 89, 89, 1);
}
.spanHref {
    color: black;
    font-weight: 700;
}
.projects ol {
    padding-left: 17px;
}
.projects li::marker {
    font-weight: 700;
    color: black;
}
span {
    color: rgba(251, 109, 58, 1);
}
.company {
    width: 525px;
}
.education {
    margin:40px 0 95px 0;
    width: 330px;
}
.sameColor {
    color: rgba(0, 0, 0, 1)
}

/*------------------------------------------------------*/
.sidebar {
    background: rgba(30, 41, 57, 1);
    color: #FFFFFF;
    width: 370px;
    height: inherit;
}
.sidebarContentWrapper {
    margin: 50px 0 0 40px;
    width: 485px;
    height: 110px;
}
.sidebar ul {
    padding: 0 0 10px 17px;
}
.sidebar li {
    padding: 5px 0 5px 0;
    color: rgba(255, 255, 255, 1);
    ;
}
.sidebar li::marker {
    color: rgba(251, 109, 58, 1);
  }
.sidebar a {
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    padding: 0 0 0 10px;
    opacity: 50%
}  
.contacts {
    margin-bottom: 50px;
}
.techSkills {
    margin-bottom: 40px;

}


